*
#git
!.gitattributes
!.gitignore

#Rule of files
!*.py
!*.txt
!*.md
!*.tex
!Lecture.pdf
!*.ipynb
!test.csv
!train.csv
!Contest/house-prices-advanced-regression-techniques/train_marked.xlsx

#include directory
!Contest
!src
!src/*
!Contest/house-prices-advanced-regression-techniques
!skl_official
!models&workflow
!models&workflow/**/
