*
#git
!.gitattributes
!.gitignore

#Rule of files
!*.py
!*.txt
!*.md
!*.tex
!Lecture.pdf
!*.ipynb
!test.csv
!train.csv

#include directory
!Contest
!skl_official
!Contest/house-prices-advanced-regression-techniques
!models&workflow
!models&workflow/basic
!models&workflow/basic
!models&workflow/data_process
!models&workflow/fitModel
!models&workflow/fitModel/regression
!models&workflow/fitModel/supervised
!models&workflow/fitModel/unsuperivsed
!models&workflow/optimize
!models&workflow/validation
